#creator {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: blue;
  outline-color: black;
}
.clock {
  display: flex;
  justify-content: center;
}

.lat {
  font-size: 200px;
}
